<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.web.module.height.obesity.dao.ExaminationCodeTableMapper">

  <delete id="delete" parameterType="org.web.module.height.obesity.entity.ExaminationCodeTable">
	DELETE
	FROM
		base_examination_code_table
	WHERE
		id = #{id}
  </delete>
  
  <insert id="insert" parameterType="org.web.module.height.obesity.entity.ExaminationCodeTable" keyProperty="id"  useGeneratedKeys="true">
    INSERT INTO base_examination_code_table 
    		( type, code,  name, pcode, unit,  initial, acronym,reference_start,reference_end,remark)
    VALUES
    		 (#{type}, #{code},  #{name}, #{pcode}, #{unit}, #{initial}, #{acronym},#{referenceStart},#{referenceEnd},#{remark})
  </insert>
  
  <update id="update" parameterType="org.web.module.height.obesity.entity.ExaminationCodeTable">
    UPDATE base_examination_code_table  SET id=#{id}
	    <if test="type!=null and type!=''">
	     ,type = #{type}
	    </if>
	    <if test="code!=null and code!=''">
	      ,code = #{code}
	    </if>
	    <if test="name!=null and name!=''">
	     , name = #{name}
	    </if>
	    <if test="pcode!=null and pcode!=''">
	     , pcode = #{pcode}
	    </if>
	    <if test="unit!=null and unit!=''">
	     , unit = #{unit}
	    </if>
	    <if test="initial!=null and initial!=''">
	       , initial = #{initial}
	    </if>
	    <if test="acronym!=null and acronym!=''">
	     , acronym = #{acronym}
	    </if>
	    <if test="referenceStart!=null and referenceStart!=''">
	     , reference_start = #{referenceStart}
	    </if>
	    <if test="referenceEnd!=null and referenceEnd!=''">
	     , reference_end = #{referenceEnd}
	    </if>
	    <if test="remark!=null and remark!=''">
	     , remark = #{remark}
	    </if>
    WHERE
    	 id = #{id}
  </update>
  
  <select id="getOne" parameterType="org.web.module.height.obesity.entity.ExaminationCodeTable" resultType="map">
	SELECT
		id,
		type,
		`code`,
		`name`,
		pcode,
		unit,
		initial,
		acronym,
		reference_start referenceStart,
		reference_end referenceEnd,
		remark
	FROM
		base_examination_code_table
	WHERE
		id = #{id}
  </select>
  
  <!-- 查询检查检验数据是否重复 -->
  <select id="getRepeat" parameterType="org.web.module.height.obesity.entity.ExaminationCodeTable" resultType="map">
  SELECT
		id,
		type,
		`code`,
		`name`,
		pcode,
		unit,
		initial,
		acronym,
		reference_start referenceStart,
		reference_end referenceEnd,
		remark
	FROM
		base_examination_code_table
	WHERE
			`code`=#{code}
  </select>
  
  <select id="getList" parameterType="org.web.module.height.obesity.entity.ExaminationCodeTable" resultType="map">
	SELECT
		id,
		type,
		`code`,
		`name`,
		pcode,
		unit,
		initial,
		acronym,
		reference_start referenceStart,
		reference_end referenceEnd,
		`sort`,
		remark
	FROM
		base_examination_code_table
		<where>
			<if test="type!=null">
			   type=#{type}
			</if>
			<if test="code!=null and code!=''">
				and `code`=#{code}
			</if>
			<if test="name!=null and name!=''">
				and `name`=#{name}
			</if>
			<if test="pcode!=null and pcode!=''">
				and pcode=#{pcode}
			</if>
			<if test="initial!=null and initial!=''">
				and initial=#{initial}
			</if>
		</where>
		ORDER BY `sort`
  </select>
</mapper>