<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wechat.module.height.obesity.dao.UserExaminationRecordMapper">

  <delete id="delete" parameterType="org.wechat.module.height.obesity.entity.UserExaminationRecord">
	DELETE
	FROM
		base_user_examination_record
	WHERE
		id = #{id}
  </delete>
  
  <insert id="insert" parameterType="org.wechat.module.height.obesity.entity.UserExaminationRecord"  keyProperty="id"  useGeneratedKeys="true">
     INSERT INTO base_user_examination_record 
     	(user_id ,user_examination_master_record_id, examination_code, examination_name,  examination_date, picture,   unit, examination_result, diagnostic_opinion, 
     	 is_view, create_date_time
      )
    VALUES
    	 (  #{userId},  #{userExaminationMasterRecordId}, #{examinationCode}, #{examinationName},   #{examinationDate}, #{picture},  #{unit}, #{examinationResult}, #{diagnosticOpinion}, 
      #{isView}, #{createDateTime}
      )
  </insert>
  
  <!-- 批量新增用户检查检验记录表 -->
  <insert   id="batchInsert"  parameterType="list" >
    INSERT INTO base_user_examination_record 
     	( user_id ,user_examination_master_record_id, examination_code, examination_name,  examination_date, picture,   unit, examination_result, diagnostic_opinion, 
     	 is_view,create_date_time
      )
    VALUES
    <foreach collection="list"  separator=","  item="userExaminationRecord">
     ( #{userExaminationRecord.userId},  #{userExaminationRecord.userExaminationMasterRecordId}, #{userExaminationRecord.examinationCode}, #{userExaminationRecord.examinationName}, #{userExaminationRecord.examinationDate}, #{userExaminationRecord.picture},  #{userExaminationRecord.unit}, #{userExaminationRecord.examinationResult}, #{userExaminationRecord.diagnosticOpinion}, 
      #{userExaminationRecord.isView},  #{userExaminationRecord.createDateTime})
    </foreach>
  </insert>
  
  
  <update id="update" parameterType="org.wechat.module.height.obesity.entity.UserExaminationRecord">
    UPDATE base_user_examination_record SET id=#{id}	  
	   <if test="userId!=null">
	  ,  user_id = #{userId}
	   </if>
	   <if test="examinationCode!=null and examinationCode!=''">
	   , examination_code = #{examinationCode}
	   </if>
	   <if test="examinationName!null and examinationName!=''">
	   ,  examination_name = #{examinationName}
	   </if>
	   <if test="examinationDate!=null">
	   ,  examination_date = #{examinationDate}
	   </if>
	   <if test="picture!=null and picture!=''">
	     , picture = #{picture}
	   </if>
	   <if test="unit!=null and unit!=''">
	     , unit = #{unit}
	   </if>
	   <if test="examinationResult!=null and examinationResult!=''"  >
	        ,examination_result = #{examinationResult}
	   </if>
	   <if test="diagnosticOpinion!=null and diagnosticOpinion!=''">
	     ,diagnostic_opinion = #{diagnosticOpinion}
	   </if>
	   <if test="isView!=null">
	     , is_view = #{isView}
	   </if>
	   <if test="organizationUserId!=null">
	     ,organization_user_id = #{organizationUserId}
	   </if>
    WHERE 
    	id = #{id}
  </update>
  <select id="getOne" parameterType="org.wechat.module.height.obesity.entity.UserExaminationRecord" resultType="map">
	SELECT
		id,
		user_id userId,
		user_examination_master_record_id userExaminationMasterRecordId,
		examination_code examinationCode,
		examination_name examinationName,
		examination_date examinationDate,
		picture,
		unit,
		examination_result examinationResult,
		diagnostic_opinion diagnosticOpinion,
		is_view isView,
		organization_user_id organizationUserId,
		create_date_time createDateTime
	FROM
		base_user_examination_record
	WHERE
		id = #{id} 
  </select>
  
  <!--查询检查检验报告列表  -->
  <select id="getList"  parameterType="org.wechat.module.height.obesity.entity.UserExaminationRecord" resultType="map">
	SELECT
		buer.id,
		becta.`name`,
		buer.user_id userId,
		buer.user_examination_master_record_id userExaminationMasterRecordId,
		buer.examination_code examinationCode,
		buer.examination_name examinationName,
		buer.examination_date examinationDate,
		buer.picture,
		buer.unit,
		buer.examination_result examinationResult,
		buer.diagnostic_opinion diagnosticOpinion,
		buer.is_view isView,
		buer.organization_user_id organizationUserId,
		buer.create_date_time createDateTime
	FROM
		base_user_examination_record buer
	INNER JOIN base_examination_code_table bect ON buer.examination_code = bect.`code`
	INNER JOIN base_examination_code_table becta ON bect.pcode = becta.`code`
		<where>
		   <if test="userId!=null ">
		     user_id  =#{userId}
		   </if>
		   <if test="examinationName!=null and examinationName!=''">
		   and  examination_name=#{examinationName}
		   </if>
		</where>
  </select>
</mapper>