<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wechat.module.height.obesity.dao.UserMeasurementRecordMapper">
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from base_user_measurement_record
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="org.wechat.module.height.obesity.entity.UserMeasurementRecord">
    insert into base_user_measurement_record (user_id, type,
      measurement_value, evaluation, is_history, 
      measurement_date, create_date_time)
    values (#{userId}, #{type},
      #{measurementValue}, #{evaluation}, #{isHistory}, 
      #{measurementDate}, #{createDateTime})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.wechat.module.height.obesity.entity.UserMeasurementRecord">
    update base_user_measurement_record
    set user_id = #{userId},
      type = #{type},
      measurement_value = #{measurementValue},
      evaluation = #{evaluation},
      is_history = #{isHistory},
      measurement_date = #{measurementDate},
      create_date_time = #{createDateTime}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="map">
    select id, user_id userId, type, measurement_value measurementValue, evaluation, is_history isHistory, measurement_date measurementDate,
    create_date_time createDateTime
    from base_user_measurement_record
    where id = #{id}
  </select>
  <select id="selectAll" resultType="map">
    select id, user_id userId, type, measurement_value measurementValue, evaluation, is_history isHistory, measurement_date measurementDate,
    create_date_time createDateTime
    from base_user_measurement_record
  </select>
  <select id="getHistoryList" resultType="map">
    select  id, user_id userId, type, measurement_value measurementValue, evaluation, is_history isHistory, measurement_date measurementDate,
    create_date_time createDateTime
    from base_user_measurement_record bumr
    WHERE
    bumr.measurement_date BETWEEN #{start} AND #{end} AND bumr.user_id=#{userId} AND bumr.type=#{type}
    ORDER BY bumr.id DESC limit 1

  </select>
  <select id="getOne" parameterType="java.lang.Integer" resultType="map">
    select id, user_id userId, type, measurement_value measurementValue, evaluation, is_history isHistory, measurement_date measurementDate,
    create_date_time createDateTime
    from base_user_measurement_record a
    where a.user_id = #{userId} AND a.type = #{type}
    ORDER BY a.create_date_time DESC limit 1
  </select>

</mapper>