<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.web.module.base.dao.permission.organization.OperationalPermissionMapper">

	<!--新增机构权限  -->
	<insert id="insert" parameterType="org.web.module.base.domain.permission.organization.OperationalPermission" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO base_operational_permission(`name`,`code`,is_used,create_date,remark) 
		VALUES (#{name},#{code},#{isUsed},#{createDate},#{remark})
	</insert>

	<!--修改机构权限  -->
	<update id="update" parameterType="org.web.module.base.domain.permission.organization.OperationalPermission">
		UPDATE  base_operational_permission SET id=#{id}
			<if test="name!=null and name!=''">
			,`name`=#{name}
			</if>
			<if test="code!=null and code!=''">
			,code=#{code}
			</if>
			<if test="isUsed!=null">
			,is_used=#{isUsed}
			</if>	
			<if test="remark!=null">
			,remark=#{remark}
			</if>
	  WHERE id=#{id}
	</update>

	<!--查询机构权限数据唯一性  -->
	<select id="getRepeat" parameterType="org.web.module.base.domain.permission.organization.OperationalPermission" resultType="map">
		SELECT
			bop.id,
			bop.`code`,
			bop.`name`
		FROM
			base_operational_permission bop
		WHERE
			bop.`code` = #{code}
	</select>

	<!--查询机构权限详情  -->
	<select id="getOne" parameterType="org.web.module.base.domain.permission.organization.OperationalPermission" resultType="map">
		SELECT
			bop.id,
			bop.`code`,
			bop.`name`,
			bop.is_used isUsed,	
			bop.create_date create_date,	
			bop.remark
		FROM
			base_operational_permission bop
		WHERE
		    bop.id=#{id}
	</select>

	<!--查询机构权限列表  -->
	<select id="getList" parameterType="org.web.module.base.domain.permission.organization.OperationalPermission" resultType="map">
	SELECT
			bop.id,
			bop.`code`,
			bop.`name`,
			bop.is_used isUsed,	
			bop.create_date create_date,	
			bop.remark
		FROM
			base_operational_permission bop
			<where>
			<if test="isUsed!=null">
			     bop.is_used = #{isUsed}
			  </if>
			  <if test="name!=null and name!=''">
			   and  bop.`name`  like CONCAT(CONCAT('%', #{name}), '%')
			  </if>
			  <if test="code!=null and code!=''">
			   and  bop.`code`  like CONCAT(CONCAT('%', #{code}), '%')
			  </if>
			</where>
	</select>
</mapper>